{% extends 'base.html.twig' %}

{% block title %}TypeCorps{% endblock %}

{% block body %}
    <h1>TypeCorps</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_corp.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_corp.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_corps_index') }}">back to list</a>

    <a href="{{ path('app_type_corps_edit', {'id': type_corp.id}) }}">edit</a>

    {{ include('type_corps/_delete_form.html.twig') }}
{% endblock %}
