{% extends 'base.html.twig' %}

{% block title %}GrammageCorps index{% endblock %}

{% block body %}
    <h1>GrammageCorps index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Poids</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grammage_corp in grammage_corps %}
            <tr>
                <td>{{ grammage_corp.id }}</td>
                <td>{{ grammage_corp.poids }}</td>
                <td>
                    <a href="{{ path('app_grammage_corps_show', {'id': grammage_corp.id}) }}">show</a>
                    <a href="{{ path('app_grammage_corps_edit', {'id': grammage_corp.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_grammage_corps_new') }}">Create new</a>
{% endblock %}
