{% extends 'base.html.twig' %}

{% block title %}QuilleLongueur{% endblock %}

{% block body %}
    <h1>QuilleLongueur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quille_longueur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ quille_longueur.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_quille_longueur_index') }}">back to list</a>

    <a href="{{ path('app_quille_longueur_edit', {'id': quille_longueur.id}) }}">edit</a>

    {{ include('quille_longueur/_delete_form.html.twig') }}
{% endblock %}
