{% extends 'base.html.twig' %}

{% block title %}AntenneCouleur index{% endblock %}

{% block body %}
    <h1>AntenneCouleur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for antenne_couleur in antenne_couleurs %}
            <tr>
                <td>{{ antenne_couleur.id }}</td>
                <td>{{ antenne_couleur.nom }}</td>
                <td>
                    <a href="{{ path('app_antenne_couleur_show', {'id': antenne_couleur.id}) }}">show</a>
                    <a href="{{ path('app_antenne_couleur_edit', {'id': antenne_couleur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_antenne_couleur_new') }}">Create new</a>
{% endblock %}
