{% extends 'base.html.twig' %}

{% block title %}QuilleLongueur index{% endblock %}

{% block body %}
    <h1>QuilleLongueur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quille_longueur in quille_longueurs %}
            <tr>
                <td>{{ quille_longueur.id }}</td>
                <td>{{ quille_longueur.nom }}</td>
                <td>
                    <a href="{{ path('app_quille_longueur_show', {'id': quille_longueur.id}) }}">show</a>
                    <a href="{{ path('app_quille_longueur_edit', {'id': quille_longueur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_quille_longueur_new') }}">Create new</a>
{% endblock %}
